.pragmatic_logo {
     font-family: 'Lobster', cursive;
}

.pragmatic_footer_button {
    font-size: .9rem;
}

.pragmatic_footer {
    text-align:center;
    margin-top: 2rem;
}

.pragmatic_header {
  text-align:center;
  margin: 2rem 0;
}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}

a {
    color: black; /* 링크의 기본 텍스트 색상 */
    text-decoration: none; /* 링크의 기본 밑줄 제거 */
}

a:hover {
     color: black; /* 호버될 때 텍스트 색상 */
     text-decoration: none; /* 호버될 때 텍스트 색상 */
}


.pragmatic_header_nav {
    margin: 0 0.5rem;
}

.pragmatic_header_navbar {
   margin: 1rem 0;
}